* {margin: 0; padding: 0; box-sizing: border-box}

body {
  width: 100vw;
  height: 100vh;
  background-color: #1a1a2e;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: sans-serif;
}

#calculator {
  background-color: #1d1e22;
  padding: 10px;
  border-radius: 10px;
  width: 360px;
}

#calculator button {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.2s;
}

#calculator button:hover {
  opacity: 0.8;
}